server
{
  listen 80;
  server_name localhost;

  large_client_header_buffers 10 16k;

  location /
  {

    root /usr/share/nginx/html;
    index index.html;

    # kill cache
    add_header Last-Modified $date_gmt;
    add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
    if_modified_since off;
    expires off;
    etag off;
  }
}

