server
{
  listen 80;
  server_name localhost;

  large_client_header_buffers 10 16k;

  location ~ /assets
  {
    root /usr/share/nginx/html/assets;
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

}
